---
import CardBlogger from '@/components/CardBlogger.astro'

interface Props {
  color: 'pink' | 'green' | 'purple' | 'blue'
}

const { color } = Astro.props

const bloggers = [
  {
    name: 'ИВАН ИВАНОВ ИВАНОВИЧ',
    vote: 137,
    category: 'номинант',
    image: '/assets/img/blogger.jpg'
  }
]
---

<section class="wrp">
  <h2 class="title">Номинации</h2>

  <div class="list">
    {
      new Array(8)
        .fill(bloggers[0])
        .map((it) => (
          <CardBlogger
            category={it.category}
            name={it.name}
            image={it.image}
            vote={it.vote}
            color={color}
          />
        ))
    }
  </div>
</section>

<style lang="scss">
  @import '/src/styles/global/index.scss';
  .wrp {
    padding: $apx-60 $apx-108;
    @include mobile {
      padding: $apx-m-60 $apx-m-24;
    }
  }
  .title {
    margin: 0;
    font-family: $font-title;
    font-size: $apx-80;
    line-height: $apx-96;
    font-weight: 400;
    text-align: left;
    color: $color-white;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @include mobile {
      font-size: $apx-m-36;
      line-height: $apx-m-43;
    }
  }
  .list {
    margin-top: $apx-34;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: $apx-58 $apx-24;
    @include mobile {
      grid-template-columns: auto;
      gap: $apx-m-51;
      margin-top: $apx-m-51;
    }
  }
</style>
