---
import Sprite from '@/components/Sprite.astro'

import bgPink from '@img/nominees-bg-pink.svg'
import bgGreen from '@img/nominees-bg-green.svg'
import bgPurple from '@img/nominees-bg-purple.svg'
import bgBlue from '@img/nominees-bg-blue.svg'

interface Props {
  category: string
  name: string
  vote: number
  image: string
  color: 'pink' | 'green' | 'purple' | 'blue'
}

const { category, name, vote, image, color } = Astro.props

let background: ImageMetadata

switch (true) {
  case color === 'pink':
    background = bgPink
    break
  case color === 'green':
    background = bgGreen
    break
  case color === 'purple':
    background = bgPurple
    break
  default:
    background = bgBlue
    break
}

const socials = [
  {
    icon: 'icon-instagram',
    label: 'в инстаграмме более 10 тысяч',
    value: '> 120к'
  },
  {
    icon: 'icon-telegram',
    label: 'в телеграмме более 10 тысяч',
    value: '> 10к'
  },
  {
    icon: 'icon-youtube',
    label: 'в ютубе более 10 тысяч',
    value: '> 500к'
  },
  {
    icon: 'icon-vk',
    label: 'во вконтакте более 10 тысяч',
    value: '> 5м'
  }
]
---

<div class="wrp">
  <div class:list={['photo-border', color]}>{color}</div>
  <img class="photo" src={image} width="238" height="238" alt="" />

  <div class="card">
    <img
      class="background"
      src={background.src}
      width="238"
      height="238"
      alt=""
    />
    <div class="category">#{category}</div>
    <div class="name" set:html={name} />
    <div class="list">
      {
        socials.map((it) => (
          <a class="social" href="#">
            <div class="social-count">
              <Sprite name={it.icon} />
              <span class="visually-hidden">{it.label}</span>
              <span class="social-count-text" aria-hidden="true">
                {it.value}
              </span>
            </div>
            <div class="social-text">подписчиков</div>
          </a>
        ))
      }
    </div>
    <button class="btn">Голосовать</button>
    <div class="vote">
      <Sprite name=`like-${color}` />
      {vote} голосов
    </div>
  </div>
</div>

<style lang="scss">
  @use 'sass:color';
  @import '/src/styles/global/index.scss';
  .wrp {
    position: relative;
    flex-shrink: 0;
    padding-top: $apx-94;
    @include mobile {
      padding-top: $apx-m-75;
    }
  }
  .photo-border {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    z-index: 2;
    width: $apx-238;
    height: $apx-238;
    border-radius: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
    mask: radial-gradient(circle $apx-98, transparent 100%, #fff 100%);
    &.pink {
      background: $gradient-pink;
    }
    &.green {
      background: $gradient-green;
    }
    &.purple {
      background: $gradient-purple;
    }
    &.blue {
      background: $gradient-blue;
    }
    @include mobile {
      width: $apx-m-190;
      height: $apx-m-190;
      mask: radial-gradient(circle $apx-m-79, transparent 100%, #fff 100%);
    }
  }
  .photo {
    position: absolute;
    top: $apx-17;
    left: 50%;
    z-index: 1;
    display: block;
    width: $apx-204;
    height: $apx-204;
    border: $apx-1 solid $color-white;
    border-radius: 50%;
    object-fit: cover;
    transform: translateX(-50%);
    @include mobile {
      top: $apx-m-13;
      width: $apx-m-164;
      height: $apx-m-164;
      border-width: $apx-m-1;
    }
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $apx-184 $apx-15 $apx-24 $apx-15;
    font-weight: 400;
    text-align: center;
    color: $color-white;
    border: $apx-1 solid $color-white;
    border-radius: $apx-18;
    overflow: hidden;
    @include mobile {
      padding: $apx-m-147 $apx-m-12 $apx-m-19 $apx-m-12;
      border-width: $apx-m-1;
      border-radius: $apx-m-14;
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .category {
    font-size: $apx-16;
    line-height: $apx-19;
    text-transform: uppercase;
    @include mobile {
      font-size: $apx-m-14;
      line-height: $apx-m-16;
    }
  }
  .name {
    margin-top: $apx-28;
    font-family: $font-title;
    font-size: $apx-32;
    line-height: $apx-46;
    font-weight: 400;
    color: $color-white;
    @include mobile {
      margin-top: $apx-m-27;
      font-size: $apx-m-24;
      line-height: $apx-m-35;
    }
  }
  .list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: $apx-10;
    margin-top: $apx-16;
    @include mobile {
      gap: $apx-m-6;
      margin-top: $apx-m-13;
    }
  }
  .social {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    gap: $apx-3;
    font-size: $apx-14;
    line-height: $apx-16;
    text-align: center;
    color: $color-white;
    &[href]:hover,
    &[href]:focus-visible {
      .social-text {
        color: $color-white;
      }
    }
    @include mobile {
      gap: $apx-m-2;
      font-size: $apx-m-11;
      line-height: $apx-m-13;
    }
  }
  .social-count {
    display: flex;
    align-items: center;
    gap: $apx-4;
    :global(svg) {
      width: $apx-18;
      height: $apx-18;
    }
    @include mobile {
      gap: $apx-m-4;
      :global(svg) {
        width: $apx-m-18;
        height: $apx-m-18;
      }
    }
  }
  .social-text {
    @include transition(color);
    font-size: $apx-12;
    line-height: $apx-14;
    color: color.adjust($color-white, $alpha: -0.5);
    @include mobile {
      font-size: $apx-m-10;
      line-height: $apx-m-11;
    }
  }
  .btn {
    @include transition(color, background-color);
    display: block;
    width: 100%;
    margin-top: $apx-38;
    padding: $apx-18;
    font-size: $apx-18;
    line-height: $apx-22;
    color: $color-white;
    background-color: transparent;
    border-radius: $apx-40;
    border: $apx-1 solid $color-white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      color: $color-black;
      background-color: $color-white;
    }
    @include mobile {
      margin-top: $apx-m-32;
      padding: $apx-m-15;
      font-size: $apx-m-14;
      line-height: $apx-m-16;
      border-radius: $apx-m-40;
    }
  }
  .vote {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $apx-16;
    margin-top: $apx-24;
    font-size: $apx-16;
    line-height: $apx-23;
    color: color.adjust($color-white, $alpha: -0.5);
    :global(svg) {
      flex-shrink: 0;
      display: block;
      width: $apx-24;
      height: $apx-24;
    }
    @include mobile {
      gap: $apx-m-13;
      margin-top: $apx-m-19;
      font-size: $apx-m-13;
      line-height: $apx-m-19;
      :global(svg) {
        width: $apx-m-19;
        height: $apx-m-19;
      }
    }
  }
</style>
